body {
  background-color: var(--bg-primary);
  color: var(--text-inverse);
  font-family: "Poppins", sans-serif;
}

h1 {
  color: var(--accent-primary);
  font-family: "Teko", sans-serif;
  font-size: clamp(3rem, 10vw, 10rem);
  text-align: center;
}

h2 {
  color: var(--text-inverse);
  font-family: "Teko", sans-serif;
  font-weight: 700;
  font-size: clamp(2.2rem, 3vw, 3rem);
  line-height: 1.2;
  text-align: center;
  margin-bottom: 1rem; /* afstand ned til første p */
}

h3 {
  color: var(--text-inverse);
}

p {
  color: var(--text-muted);
  font-size: clamp(1rem, 1.2vw, 1.125rem);
  line-height: 1.6;
  margin-bottom: 1.25rem; /* afstand mellem p’er */
}

p,
li {
  color: var(--text-inverse);
}

a {
  color: var(--accent-primary);
  text-decoration: none;
}

.menu a.active {
  color: var(--accent-primary);
  border-bottom: 2px solid var(--accent-primary);
}

a:hover {
  color: var(--cta-hover);
}

img {
  max-width: 100%;
}

/*---- Hero Section Mobilefirst ----*/
.hero {
  position: relative;
  height: 60vh;
  overflow: hidden;
}

.hero-video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-title {
  position: absolute;
  top: 12%;
  left: 4%;

  font-family: "Teko", sans-serif;
  font-weight: 700;

  font-size: clamp(3rem, 10vw, 5rem);
  line-height: 0.9;
  letter-spacing: 0.04em;

  color: var(--accent-primary);
  z-index: 2;
}

/*---- Intro Tekst----*/
.intro {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 1.5rem;
}

.intro-text {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.intro-image {
  width: 100%;
}

.intro-image img {
  width: 100%;
  height: auto;
  display: block;
}

/*---- CTA ----*/
.cta-row {
  display: flex;
  justify-content: center;
}

.button {
  background-color: #f2b705;
  color: #383838;
  border-radius: 15px;
  font-size: 0.9rem;
  padding: 0.6em 1.5em;
  margin: 2em auto;
  min-width: 100px;
  max-width: 300px;
  text-align: center;
  display: block;
  cursor: pointer;
  transition: all 0.3s ease; /* Flydende animation*/
}

.button:hover {
  background-color: #f2b705;
  color: #383838;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.35);
  transform: translateY(-2px);
}

/*---- Social Icons ----*/
footer {
  text-align: center;
  padding: 30px 0;
  color: var(--accent-primary);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

footer p {
  color: var(--accent-primary);
}

.social-icons {
  margin-top: 15px;
}

.social-icons a {
  margin: 0 12px;
  display: inline-block;
  transition: 0.3s ease;
}

.social-icons img {
  width: 40px;
  height: 40px;
  filter: drop-shadow(0 0 10px #f2b705);
  transition: transform 0.3s ease, filter 0.3s ease;
}

.social-icons a:hover img {
  transform: scale(1.2);
  filter: drop-shadow(0 0 20px #e0aa04);
}

/*---- Ommig.html justeringer ----*/
.portrait-image {
  width: 100%;
  max-width: 700px;
  height: auto;
  display: block;
  margin: 2rem auto;
  border-radius: 12px;
}
